:root {
  --highlight-colour: #adc178;
  --text-colour: #6c584c;
  --background-colour: white;
  --shadow-colour: #f0ead2;
  --secondary-text: #a98467;
}

body {
  margin: 10px;
  font-family: "Titillium Web","Roboto Mono", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif monospace;
}

a {
    text-decoration: none;
}
